@import url(http://fonts.googleapis.com/css?family=UnifrakturCook:700|Average);

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(235, 237, 222);
  height: 100%;
  font-family: Average, Georgia, serif;
  font-size: 1.5rem;
  text-align: center;
}

h1, h2 {
  font-family: UnifrakturCook, cursive;
}

h1 {
  font-size: 9rem;
  margin-bottom: 0;
}

h2 {
  font-size: 5rem;
  margin-top: -2.75rem;
  margin-bottom: 0;
  text-transform: lowercase;
}

ul {
  font-style: italic;
  margin-top: 0.2rem;
  padding: 0;
}

ul li {
  display: inline;
  margin: 0 0.6rem;
}

.date-and-location p {
  display: inline;
}

.date-and-location .date {
  text-align: left;
  margin-right: 2rem;
}

.date-and-location .location {
  text-align: right;
}

a, a:active {
  transition: color 0.2s ease-in-out;
  color: rgb(167, 12, 12);
}

a:hover {
  color: rgb(201, 131, 131);
}
